{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
    {% if page.summary-image %}
      <div>
          <img src="{{ page.summary-image | relative_url }}" alt="{{ page.summary-image-desc }}" itemprop="image" class="u-photo">
      </div>
    {% endif %}

    {% if page.date %}
      <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "" }}</strong> <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time></p>
    {% endif %}

    {% for s in page.sidebar %}
      {% if s.title %}<h4>{{ s.title }}</h4>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list locale=locale nav=s.nav %}{% endif %}
    {% endfor %}

    {% include sidebar-sharing.html %}
  </div>
{% endif %}
