<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="{{ page.classes | join: ' ' }}">
    {% include skip-links.html %}

    <div class="page-wrap">
      {% include masthead.html %}

      <!-- Custom navigation bar -->
      <nav class="custom-navbar" role="navigation" aria-label="Main Navigation">
        <ul class="custom-nav">
          {% for item in site.data.navigation.header.navigation %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <main id="main" class="main-content" aria-label="Content">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
