---
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

<!doctype html>
<html lang="{{ locale | replace: '_', '-' | default: 'en' }}" class="no-js">
  <head>
    {% include head.html %}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>

  <body class="{{ page.classes | join: ' ' }}">
    {% include skip-links.html %}
    {% include masthead.html %}

    <div class="page-wrap">

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html locale=locale %}
      </div>
    {% endif %}

      <main id="main" class="main-content" aria-label="Content">
        {{ content }}
      </main>


      <div id="footer" class="page__footer">
        <footer>
          {% include footer.html %}
        </footer>
      </div>

    </div>

    {% include scripts.html %}
  </body>
</html>
